 CLOUDINARY_API_NAME = YOUR_CLOUDINARY_API_NAME
 CLOUDINARY_API_SECRET =YOUR_CLOUDINARY_API_SECRET
 CLOUDINARY_API_KEY = YOUR_CLOUDINARY_API_KEY
 DATABASE_URL = YOUR_DATABASE_URL 

 GOOGLE_API_KEY =YOUR_GOOGLE_API_KEY
PINECONE_INDEX_NAME =rYOUR_PINECONE_INDEX_NAME
PINECONE_ENVIRONMENT =YOUR_PINECONE_ENVIRONMENT
PINECONE_API_KEY =YOUR_PINCONE_API_KEY

REDIS_URL=YOUR_REDIS_URL